<h2>Publicaciones</h2>


<div class="shadow-lg p-3 mb-5 mt-4 bg-body rounded">
    
    <form class="row g-3 needs-validation" novalidate>
        <div class="col-md-4">
            <label>Id ususario</label>
            <input class="form-control" required>
            <div class="valid-feedback">OK</div>
        </div>
        <div class="col-md-4">
            <label>Id publicación</label>
            <input class="form-control" required>
        </div>
        <div class="col-md-4">
            <label>Titulo</label>
            <input class="form-control" required>
        </div>
        <div class="col-md-4">
            <label>Cuerpo de la publicacion</label>
            <input class="form-control" required>
        </div>
        <div class="col-12">
            <button class="btn btn-primary fw-bold" type="submit">Enviar</button>
        </div>
    </form>

</div>



<router-outlet></router-outlet>