table
{
  width: 98%;
}

.mat-form-field{
  font-size: 16px;
  width: 96%;
  margin-top: 2%;
  margin-left:2% ;
}

.container
{
  margin-top: 2%;
  display: flex;
  justify-content: center;
  width: 96%;
}
th, td{
  padding: 2%;
}